.table {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}
.cell {
  width: 400px;
  height: 40px;
  border: 1px solid black;
  border-bottom: none;
  padding-top: 10px;
  text-align: center;
}
.table2 {
    margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
}
.cell2 {
  padding-top: 3px;
  width: 400px;
  border: 1px solid black;
  padding-top: 10px;
  text-align: center;
}
.ul {
  list-style: none;
}
li {
  margin-top: 5px;
  cursor: pointer;
}

.searchButton{
    text-decoration: none;
    color: black;
}